html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    font-family: "Questrial", sans-serif;
    background-size: auto;
    background-color: rgb(252, 252, 252);
    /*animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-direction: column;
}

.main-wrapper{
    width: 500px;
    justify-content: space-between;
    display: flex;
}
.input-wrapper{
    width: 6em;
    position: relative;
}
.text-bg{
    position: absolute;
    top: 4.5em;
    height: 1.3em;
    width: 6em;
    background-color: rgba(0, 128, 0, 0.4);
    transition: 0.5s linear;
    display: none;
}
.header-wrapper p{
    margin: 2px;
    width: 100%;
    text-align: center;
}
.text-wrapper{
    height: 500px;
    margin-bottom: 6px;
}
#textBox{
    width: 5em;
    font-size: 1.4em;
    resize: none;
}
#compiledCode{
    resize: vertical;
}
#notesKey{
    text-align: left;
    padding-left: 4px;
}
.text-wrapper textarea{
    height: 100%;
}

#buttons {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
}
#buttons button{
    position: relative;
    padding: 12px 7px;
    float: right;
    color: white;
    border: none;
    transition: 0.2s;
    border-radius: 0;
}
#buttons button:hover{
    transform: scale(1.1);
}
#play-button {
    background-color: rgb(0, 155, 0);
}
#clear-button {
    background-color: rgb(175, 0, 0);
}
#play-button:hover {
    background-color: rgb(0, 192, 0);
}
#clear-button:hover {
    background-color: rgb(223, 0, 0);
    z-index: 99;
}

